.fondo-loggin{
    -fx-background-color: #44ac8d;
}

.btn-loggin{
    -fx-background-color: #4484ac;
}

.btn-loggin:hover{
    -fx-background-color: #8ec4e4;
}

.text-field {
    /* Propiedades generales */
    -fx-background-color: #6ebfa8; /* Color de fondo */
    -fx-border-color: #cccccc; /* Color del borde */
    -fx-border-width: 1px; /* Grosor del borde */
    -fx-border-radius: 20px; /* Bordes redondeados */
    -fx-background-radius: 20px; /* Radio del fondo */
    -fx-padding: 5px 10px; /* Espaciado interno (arriba/abajo, izquierda/derecha) */

    /* Texto */
    -fx-text-fill: #333333; /* Color del texto */
    -fx-font-size: 14px; /* Tamaño de fuente */
    -fx-font-family: "Arial"; /* Familia tipográfica */

    /* Placeholder (Prompt Text) */
    -fx-prompt-text-fill: #999999; /* Color del texto de sugerencia */
}

/* Estados Especiales */
.text-field:hover {
    -fx-border-color: #0078d4; /* Borde al pasar el mouse */
}